#index:
#    path: /
#    controller: App\Controller\DefaultController::index

command::post-todo:
    path: /todos
    defaults: { _controller: App\Controller\TodoController::postCreateTodoAction, prooph_command_name: 'App\Prooph\Model\Todo\Command\PostTodo' }

command::post-post:
    path: /posts
    defaults: { _controller: App\Controller\PostController::postCreatePostAction, prooph_command_name: 'App\Prooph\Model\Post\Command\PostPost' }

command::change-status-post:
    path: /posts/{postId}/status
    defaults: { _controller: App\Controller\PostController::changeStatusAction, prooph_command_name: 'App\Prooph\Model\Post\Command\ChangePostStatus' }

page::user-post-list:
    path:     /posts/{postId}
    defaults: { _controller: App\Controller\PostController::listAction }

page::user-post-list-by-writer:
    path:     /posts/writer/{writerId}
    defaults: { _controller: App\Controller\PostController::listByWriterAction }
